@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  height: 80px;
  width: 100%;
  font-family: "OpenSans", serif;
  background: #130c39;
  padding: 0rem calc((100vw - 1450px) / 2);
}

label.logo {
  color: #407bd8;
  line-height: 80px;
  padding: 0 100px;
  font-size: 35px;
  font-weight: bold;
  font-family: "Audiowide", serif;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  font-family: "Poppins", serif;
  font-size: 20px;
}

nav ul li a {
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}

a.active,
a:hover {
  color: #407bd8;
  transition: 0.2s;
}

.checkbtn {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0e3372;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #407bd8;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

section {
  background-size: cover;
  height: calc(100vh - 80px);
}

.bg {
  background-color: #130c39;
  height: 125vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #ffffff;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #ffffff;
  background: rgb(69, 63, 251);
  background: -moz-linear-gradient(
    90deg,
    rgba(69, 63, 251, 1) 38%,
    rgba(43, 211, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(69, 63, 251, 1) 38%,
    rgba(43, 211, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(69, 63, 251, 1) 38%,
    rgba(43, 211, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#453ffb",endColorstr="#2bd3ff",GradientType=1);
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 10px 9px 18px -3px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 10px 9px 18px -3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 10px 9px 18px -3px rgba(0, 0, 0, 0.38);
}

button:hover {
  background: #fff;
  color: #000;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.image {
  width: 80%;
  height: 80%;
  border-radius: 20%;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }
}

